<!-- <div class="jumbotron"> -->
<div class="jumbotron">
<h1>Radom Ron</h1>

<p>
  Allow Ron Swanson to inpire you...
</p>
<!-- <input type="text" ng-model="zip" placeholder=""> -->
</div>



<!-- <div>{{quote}}</div> -->
<!-- <img ng-src="{{img}}" alt="" /> -->
<!-- </div> -->
<div class="quoteArea">
<blockquote class="triangle-border">
  <button class='btn btn-lg btn-success' 'quoteButton' ng-click="getQuoteCtrl(quote)" ng-model="quote" name="button">Get Ron</button>

    <h4>{{quote}}</h4>

</blockquote>

</div>
